<!doctype html>
<html lang="{{ request.locale.iso_code }}" class="{% if request.design_mode %}design-mode{% endif %}">
<head>
{% include 'wp-page-speed-optimization-header' %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  {% if page_description %}<meta name="description" content="{{ page_description | escape }}">{% endif %}
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

   <title>
    {{ page_title }}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  </title>
  {% if settings.favicon != blank %}
  <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: '32', height: '32' }}">
  {% else %}
  <link rel="icon" type="image/png" href="https://cdn.shopify.com/s/files/1/0732/7829/2203/files/favicon.webp?v=1768335490">
  {%- endif -%}

  {% render 'meta-tags' %}
  {{ content_for_header }}

<link rel="preload" href="{{ 'josefin-sans-v34-latin-500.woff2' | file_url }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ 'josefin-sans-v34-latin-700.woff2' | file_url }}" as="font" type="font/woff2" crossorigin>

<style>
  @font-face {
    font-family: 'Josefin Sans';
    src: url('{{ 'josefin-sans-v34-latin-500.woff2' | file_url }}') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Josefin Sans';
    src: url('{{ 'josefin-sans-v34-latin-700.woff2' | file_url }}') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
</style>
  {% render 'styles-scripts' %}
<script data-custom-wpsob="1">function wpsobIsInViewport(el){const rect=el.getBoundingClientRect();return rect.top>=0&&rect.left>=0&&rect.bottom<=(window.innerHeight||document.documentElement.clientHeight)&&rect.right<=(window.innerWidth||document.documentElement.clientWidth)}function wpsobRemoveDims(img){if(img.hasAttribute("data-wpsob-width"))img.removeAttribute("width");if(img.hasAttribute("data-wpsob-height"))img.removeAttribute("height")}function wpsobCheckVisibleImages(){const imgs=document.querySelectorAll("img");for(let i=0;i<imgs.length;i++)if(wpsobIsInViewport(imgs[i]))wpsobRemoveDims(imgs[i])}function wpsobRemoveDimsAll(){const imgs=document.querySelectorAll("img");for(let i=0;i<imgs.length;i++)wpsobRemoveDims(imgs[i])}window.onload=wpsobCheckVisibleImages;window.addEventListener("scroll",wpsobRemoveDimsAll);</script></head>

<body class="{{ request.page_type | prepend: 'page-type-' }}">

{% comment %} 
  Scripts 
{% endcomment %}
  <script src="{{ 'jquery.min.js' | asset_url }}"></script>
<script src="{{ 'bootstrap.bundle.min.js' | asset_url }}" defer></script>
<script src="{{ 'gsap.min.js' | asset_url }}" defer></script>
<script src="{{ 'ScrollTrigger.min.js' | asset_url }}" defer></script>
<script src="{{ 'locomotive-scroll.min.js' | asset_url }}" defer></script>
<script src="{{ 'tilt.jquery.min.js' | asset_url }}" defer></script>
<script src="{{ 'SplitText.min.js' | asset_url }}" defer></script>
<script src="{{ 'ScrollSmoother.min.js' | asset_url }}" defer></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{ 'main.js' | asset_url }}" defer></script>


<script src="{{ 'base.js' | asset_url }}" defer></script>
<script src="{{ 'sections.js' | asset_url }}" defer></script>
<script src="{{ 'cart.js' | asset_url }}" defer></script>
<script src="{{ 'collection.js' | asset_url }}" defer></script>
<script src="{{ 'product.js' | asset_url }}" defer></script>
<script src="{{ 'search.js' | asset_url }}" defer></script>

  <a class="visually-hidden-focusable" href="#main">
    {{ 'general.accessibility.skip_content' | t }}
  </a>
  
  <div class="main-wrapper" id="smooth-content" data-scroll-container>
    {% sections 'header-group' %}
    
    {{ content_for_layout }}
    
    {% sections 'footer-group' %}
  </div>

  {% liquid
    render 'offcanvas-cart'
    render 'offcanvas-search'
    render 'modal-localization'
    render 'rich-snippets'
  %}
 {% render 'sb-preload-booster' %}</body>

<!--Speed Optimized By SpeedBoostr WebPlanex Infotech App-->
</html>
    